.product_image {
  margin: 20px;
  width: 300px;
  height: 200px;
  padding-left: 11px;
}
.product_button {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border-radius: 3;
  border: 0;
  color: red;
  /* height: 48px; */
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
}
.heart {
  font-size: 35px;
  color: rgb(20, 32, 206);
  margin-top: 7px;
  width: 70px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}
:hover {
  color: rgb(192, 39, 39);
}
.active {
  color: blueviolet;
}

/* .root {
  height: 400px;
  width: 600px;
  margin: 20px;
  box-shadow: 10px 20px 20px 10px0 #a3181f;
  /* background-color: rgb(235, 216, 10);   
  background-color: yellow;
  display: grid;
}
.media {
  height: 200px;
}
.content {
  color: rgb(27, 141, 194);
} */
.dashboard_items {
  display: flex;
}
.wishlist_icon {
  padding-left: 200px;
}
