.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #6dedd5;
  position: sticky;
  /* margin: 10px; */
  height: 60px;
  }
  .navbar__logo {
    font-size: 30px;
    font-weight: bold;
    color: #551a8b;
    background: #fff;
    width: 190px;
    border: none;
    border-radius: 15px;
    height: 45px;
    text-decoration: none;
    z-index: 1;
  }
  .navbar__cart {
    background: #fff;
    width: 124px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    height: 30px;
    color: indigo;
  }
  .cart__image {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  
.cart__title {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-color);
  }
  .navbar__wishlist{
    background: #fff;
    width: 150px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    height: 30px;
    color: indigo;
  }
  .link{
    text-decoration: none;
   
    /* background-color: darksalmon; */
  }