.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #6dedd5;
  position: sticky;
  /* margin: 10px; */
  height: 60px;
  text-decoration: none;
 
  }
  .navbar__dashboard {
    background: #fff;
    width: 124px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    height: 30px;
    color: indigo;
    text-decoration: none;
  }
  .navbar__cart {
    background: #fff;
    width: 157px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    height: 30px;
    color: indigo;
    text-decoration: none;

  }
  .cart__image {
    width: 33px;
    height: 30px;
    object-fit: cover;
    margin-bottom: -5px;

  }
  
.cart__title {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-color);
  }
  .navbar__wishlist{
    background: #fff;
    width: 150px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    height: 30px;
    color: indigo;
    text-decoration: none;

  }
  /* .nav-link{
    text-decoration: none;
  }
  .active{
    text-decoration: none;
    background: rgb(201, 62, 62);
 
  } */